<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	</head>
	
	<body>
		<h2>キャラクターの所持確認</h2>
		<p>所持していないものにチェックを入れてください。</p>
		<p>表の最後にまとめて出ます。</p>
        <div id="app">
			<table>
				<thead>
				<!-- テーブルヘッダーのくり返し -->
				<th v-for="item in header">{{ item }}</th>
				</thead>
				<tbody>
					<!-- 1行のくり返し -->
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.03　三日月宗近" v-model="myChecks">
								三日月宗近</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>三条</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.05　小狐丸" v-model="myChecks">
								小狐丸</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.06　小狐丸　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>三条</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.7　石切丸" v-model="myChecks">
								石切丸</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.8　石切丸　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>大太刀</p></td>
						<td v-for="item in line">{{ item }}<p>三条</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.9　岩融" v-model="myChecks">
								岩融</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.10　岩融　極" v-model="myChecks">
							</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>薙刀</p></td>
						<td v-for="item in line">{{ item }}<p>三条</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.11　今剣" v-model="myChecks">
								今剣</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.12　今剣　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>三条</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.13　大典太光世" v-model="myChecks">
								大典太光世</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>三池</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.15　ソハヤノツルキ" v-model="myChecks">
								ソハヤノツルキ</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>三池</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.17　数珠丸恒次" v-model="myChecks">
								数珠丸恒次</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>青江</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.19　にっかり青江" v-model="myChecks">
								にっかり青江</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.20　にっかり青江　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p>青江</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.21　鬼丸国綱" v-model="myChecks">
								鬼丸国綱</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.23　鳴狐" v-model="myChecks">
								鳴狐</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.24鳴狐　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.25　一期一振" v-model="myChecks">
								一期一振</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.26　一期一振　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.27　鯰尾藤四郎" v-model="myChecks">
								鯰尾藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.28　鯰尾藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.29　骨喰藤四郎" v-model="myChecks">
								骨喰藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.30　骨喰藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.31　平野藤四郎" v-model="myChecks">
								平野藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.32　平野藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.33　厚藤四郎" v-model="myChecks">
								厚藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.34　厚藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.35　後藤藤四郎" v-model="myChecks">
								後藤藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.36　後藤藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.37　信濃藤四郎" v-model="myChecks">
								信濃藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.38　信濃藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.39　前田藤四郎" v-model="myChecks">
								前田藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.40　前田藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.41　秋田藤四郎" v-model="myChecks">
								秋田藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.42　秋田藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.43　博多藤四郎" v-model="myChecks">
								博多藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.44　博多藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.45　乱藤四郎" v-model="myChecks">
								乱藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.46　乱藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.47　五虎退" v-model="myChecks">
								五虎退</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.48　五虎退　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.49　薬研藤四郎" v-model="myChecks">
								薬研藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.50　薬研藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.51　包丁藤四郎" v-model="myChecks">
								包丁藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.52　包丁藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.53　大包平" v-model="myChecks">
								大包平</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>古備前</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.55　鶯丸" v-model="myChecks">
								鶯丸</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.56　鶯丸　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>古備前</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.57　明石国行" v-model="myChecks">
								明石国行</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.58　明石国行　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>来</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.59　蛍丸" v-model="myChecks">
								蛍丸</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.60　蛍丸　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>大太刀</p></td>
						<td v-for="item in line">{{ item }}<p>来</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.61　愛染国俊" v-model="myChecks">
								愛染国俊</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.62　愛染国俊　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>来</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.63　千子村正" v-model="myChecks">
								千子村正</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.64　千子村正　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>村正</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.65　蜻蛉切" v-model="myChecks">
								蜻蛉切</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.66　蜻蛉切　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>槍</p></td>
						<td v-for="item in line">{{ item }}<p>村正</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.67　物吉貞宗" v-model="myChecks">
								物吉貞宗</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.68　物吉貞宗　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p>貞宗</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.69　太鼓鐘貞宗" v-model="myChecks">
								太鼓鐘貞宗</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.70　太鼓鐘貞宗　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>貞宗</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.71　亀甲貞宗" v-model="myChecks">
								亀甲貞宗</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.72　亀甲貞宗　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>貞宗</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.73　燭台切光忠" v-model="myChecks">
								燭台切光忠</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.74　燭台切光忠　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>長船</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.75　大般若長光" v-model="myChecks">
								大般若長光</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>長船</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.77　小竜景光" v-model="myChecks">
								小竜景光</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>長光</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.79　江雪左文字" v-model="myChecks">
								江雪左文字</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.80　江雪左文字　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>左文字</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.81　宗三左文字" v-model="myChecks">
								宗三左文字</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.82　宗三左文字　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>左文字</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.83　小夜左文字" v-model="myChecks">
								小夜左文字</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.84　小夜左文字　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>左文字</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.85　加州清光" v-model="myChecks">
								加州清光</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.86　加州清光　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.87　大和守安定" v-model="myChecks">
								大和守安定</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.88　大和守安定　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.89　歌仙兼定" v-model="myChecks">
								歌仙兼定</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.90　歌仙兼定　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>兼定</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.91　和泉守兼定" v-model="myChecks">
								和泉守兼定</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.92　和泉守兼定　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>兼定</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.93　陸奥守吉行" v-model="myChecks">
								陸奥守吉行</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.94　陸奥守吉行　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.95　山姥切国広" v-model="myChecks">
								山姥切国広</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.96　山姥切国広　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>堀川</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.97　山伏国広" v-model="myChecks">
								山伏国広</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.98　山伏国広　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>堀川</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.99　堀川国広" v-model="myChecks">
								堀川国広</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.100　堀川国広　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p>堀川</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.101　蜂須賀虎徹" v-model="myChecks">
								蜂須賀虎徹</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.102　蜂須賀虎徹　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>虎徹</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.103　浦島虎徹" v-model="myChecks">
								浦島虎徹</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.104　浦島虎徹　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p>虎徹</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.105　長曾祢虎徹" v-model="myChecks">
								長曾祢虎徹</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.106　長曾祢虎徹　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>虎徹…？</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.107~No.110 髭切" v-model="myChecks">
								髭切</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.111　髭切　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.112~No.114　膝丸" v-model="myChecks">
								膝丸</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.115　膝丸　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.116　大俱利伽羅" v-model="myChecks">
								大俱利伽羅</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.117　大俱利伽羅　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.118　へし切長谷部" v-model="myChecks">
								へし切長谷部</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.119　へし切長谷部　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.120　不動行光" v-model="myChecks">
								不動行光</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.121　不動行光　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.122　獅子王" v-model="myChecks">
								獅子王</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.123　獅子王　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>	
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.124　小烏丸" v-model="myChecks">
								小烏丸</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
							未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.128　同田貫正国" v-model="myChecks">
								同田貫正国</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.129　同田貫正国　　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.130　鶴丸国永" v-model="myChecks">
								鶴丸国永</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.131　鶴丸国永　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.132　太郎太刀" v-model="myChecks">
								太郎太刀</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.133　太郎太刀　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>大太刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.134　次郎太刀" v-model="myChecks">
								次郎太刀</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.135　次郎太刀　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>大太刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.136　日本号" v-model="myChecks">
								日本号</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.137　日本号　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>槍</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.138　御手杵" v-model="myChecks">
								御手杵</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.139　御手杵　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>槍</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.140　巴形薙刀" v-model="myChecks">
								巴形薙刀</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.141　巴形薙刀　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>薙刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.142　毛利藤四郎" v-model="myChecks">
								毛利藤四郎</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.143　毛利藤四郎　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.144　篭手切江" v-model="myChecks">
								篭手切江</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p>江</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.146　謙信長光" v-model="myChecks">
								謙信長光</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.147　謙信長光　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>長船</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.148　小豆長光" v-model="myChecks">
								小豆長光</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.149　小豆長光　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>長船</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.150　日向正宗" v-model="myChecks">
								日向正宗</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.151　日向正宗" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>正宗</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.152　静形薙刀" v-model="myChecks">
								静形薙刀</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.153　静形薙刀　極" v-model="myChecks">
								</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>薙刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.154　南泉一文字" v-model="myChecks">
								南泉一文字</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>福岡一文字</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.156　千代金丸" v-model="myChecks">
								千代金丸</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.158　山姥切長義" v-model="myChecks">
								山姥切長義</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.160　豊前江" v-model="myChecks">
								豊前江</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>江</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.162　祢々切丸" v-model="myChecks">
								祢々切丸</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>大太刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.164　白山吉光" v-model="myChecks">
								白山吉光</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>剣</p></td>
						<td v-for="item in line">{{ item }}<p>粟田口</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.166　南海太郎朝尊" v-model="myChecks">
								南海太郎朝尊</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.168　肥前忠広" v-model="myChecks">
								肥前忠広</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.170　北谷菜切" v-model="myChecks">
								北谷菜切</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.172　桑名江" v-model="myChecks">
								桑名江</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>江</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.174　水心子正秀" v-model="myChecks">
								水心子正秀</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.176　源清磨" v-model="myChecks">
								源清麿</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.178　松井江" v-model="myChecks">
								松井江</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>江</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.180　山鳥毛" v-model="myChecks">
								三鳥毛</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>福岡一文字</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.182　古今伝授の太刀" v-model="myChecks">
								古今伝授の太刀</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>豊後国行平</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.184　地蔵行平" v-model="myChecks">
								地蔵行平</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>豊後国行平</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.186　治金丸" v-model="myChecks">
								治金丸</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.188　日光一文字" v-model="myChecks">
								日光一文字</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>福岡一文字</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.190　太閤左文字" v-model="myChecks">
								太閤左文字</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>短刀</p></td>
						<td v-for="item in line">{{ item }}<p>左文字</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.192　五月雨江" v-model="myChecks">
								五月雨江</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>江</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.194　大千鳥十文字槍" v-model="myChecks">
								大千鳥十文字槍</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>槍</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.196　泛塵" v-model="myChecks">
								泛塵</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>脇差</p></td>
						<td v-for="item in line">{{ item }}<p></p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.198　一文字則宗" v-model="myChecks">
								一文字則宗</label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>太刀</p></td>
						<td v-for="item in line">{{ item }}<p>福岡一文字</p></td>
					</tr>
					<tr v-for="line in ranking">
						<!-- 1データのくり返し -->
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="No.200　村雲江" v-model="myChecks">
								村雲江 </label><br>
						</td>
						<td v-for="item in line">{{ item }}
							<label><input type="checkbox" value="" v-model="myChecks">
								未実装</label><br>
						</td>
						<td v-for="item in line">{{ item }}<p>打刀</p></td>
						<td v-for="item in line">{{ item }}<p>江</p></td>
					</tr>

				</tbody>
			</table>
			<!-- 選択したのは、{{ myChecks }} -->
            <h2>結果:</h2><p> {{ myChecks }}</p>
        </div>
                
        <script>
            new Vue({
                el: '#app',
                data: {
					header: ["刀剣名","極","刀種類","刀派"],
					ranking: [
						[''],
					],
					myChecks:[]
				}
			})
		</script>		
		
		<style>
			table {
			  width: 100%;
			  text-align: left;
			}
			table th {
			  padding: 12px;
			  border-bottom: 
			  2px solid darkgray;
			}
			table td {
			  padding: 12px;
			}
			table tr:nth-of-type(even) {
			  background-color: rgba(0, 0, 255, 0.1);
			}
		</style>
	</body>
</html>
